coverage[toml]
pytest-cov
flake8
mypy
black
isort
twine
pytest
build
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
openmetadata-ingestion[all]==1.3.4
openmetadata-managed-apis==1.3.4
