black
isort
fs-s3fs
fs-gcsfs
connexion[swagger-ui]
openmetadata-ingestion[airflow]==1.4.1
openmetadata-managed-apis==1.4.1
boto3==1.34.113
google-api-python-client==2.129.0
google-auth-oauthlib==1.2.0
pandas==2.0.3
pendulum==2.1.2
PyAthena==3.8.3
pygsheets==2.0.6
PyMySQL==1.1.1
SQLAlchemy==1.4.52
apache-airflow-providers-amazon==8.23.0
